* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

}

body {
    width: 100vw;
    height: 100vh;
    color: rgb(191, 25, 25);

}

.template-button {}

.header {
    width: 100vw;
    font-size: 20px;
    align-items: center;
    text-align: center;
    height: 45vh;

}

.img {
    width: 30%;

}

.inner-flex {
    width: 50%;

    border-radius: 100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.inner-header {
    color: rgb(191, 25, 25);
    font-size: 100px;

}

.directions {
    color: rgb(191, 25, 25);
    font-size: 30px;

}

li {
    margin: 20px;
}